*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
/*
.aink{
    color: #140c07;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-style: italic;

    background-image: linear-gradient(90deg, rgb(236, 225, 61), rgb(0, 255, 157));
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 300ms ease;
}
.aink:hover{
    background-size: 100% 3px;
}
.home-image img{
    width: 100%;
    position: relative;
    transform: translate(0%,0%);
    animation: mymove 5s infinite ease-in-out;
}
@keyframes mymove {
    0%   {top: 0px;}
    50%   {top: 15px;}
    75%   {top: 10px;}
    100%   {top: 0px;}
  }
*/

.fun-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    color: beige;
    margin-top: 300px;
    position: relative;
    transform: translate(0%,-20%);
    animation: mymove 5s infinite ease-in-out;
}
@keyframes mymove {
    0%   {top: 0px;}
    50%   {top: 15px;}
    75%   {top: 10px;}
    100%   {top: 0px;}
  }
.fun-content h1{
    color: hsl(0, 0%, 30%);
    font-size: 90px;
    font-family: monospace;
    letter-spacing: 5px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 0.2em;
    background: linear-gradient(
        to right, 
        hsl(0, 0%, 30%)0,
        hsl(0, 0%, 1000%)10%,
        hsl(0, 0%, 30%)20%
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
    

    
}

@keyframes shine {
    0%{
        background-position: 0;
    }
    60%{
        background-position: 600px;
    }
    100%{
        background-position: 600px;
    }
}

.fun-content h1:hover{
    
    transition: all 0.3s ease 0s;
        color: #0ac2f5;
        background-color:#081a1f;
        
        box-shadow: 
            0 0 0 5px #ee6352,
            0 0 0 10px #d45379,
            0 0 0 15px #a4558f,
            0 0 0 20px #6d588e,
            0 0 0 25px #405378
        ;
}

.fun{
    width: 100%;
    height: 100vh;
    background-image: url(web/background.png);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}
.bubble img{
    width: 50px;
    animation: bubble 7s linear infinite;
}

.bubble{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -50px;
    z-index: 9;
}
.fish-right img{
    width: 50px;
    animation: fisk 5s linear infinite;
}
.fish-right{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items:flex-end;
    justify-content: space-around;
    flex-direction: column;
    position: absolute;
    right: -90px;
    z-index: 99;
}
.fish-left img{
    width: 20px;
    animation: fiskLeft 5s linear infinite;
}
.fish-left{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items:flex-start;
    justify-content: space-around;
    flex-direction: column;
    position: absolute;
    left: -90px;
    z-index: 999;
}

@keyframes bubble{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        
        opacity: 1;
    }
    75%{
        
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}

.bubble img:nth-child(1){
    animation-delay: 2s;
    width: 20px;    
}
.bubble img:nth-child(2){
    animation-delay: 1s;   
    width: 25px;
}
.bubble img:nth-child(3){
    animation-delay: 2.5s;
    width: 30px;
}
.bubble img:nth-child(4){
    animation-delay: 1.5s;
    width: 35px;
}
.bubble img:nth-child(5){
    animation-delay: 1.3s;
    width: 45px;
}
.bubble img:nth-child(6){
    animation-delay: 3.5s;
    width: 40px;
}
.bubble img:nth-child(7){
    animation-delay: 2.7s;
    width: 20px;
}
@keyframes fisk{
    0%{
        transform: translateX(0);
        opacity: 0;
    }
    25%{
        transform: translateX(5vh);
        opacity: 1;
    }
    50%{
        transform: translateY(-50vh);
        opacity: 1;
    }
    75%{
        
        opacity: 1;
    }
    100%{
        transform: translateX(-100vw);
        opacity: 0;
    }
}
.fish-right img:nth-child(1){
    animation-delay: 2s;
    width: 50px; 
}
.fish-right img:nth-child(2){
    animation-delay: 1s;   
    width: 70px;
}
.fish-right img:nth-child(3){
    animation-delay: 2.5s;
    width: 80px;
}
.fish-right img:nth-child(4){
    animation-delay: 1.5s;
    width: 53px;
}
.fish-right img:nth-child(5){
    animation-delay: 1.3s;
    width: 75px;
}
.fish-right img:nth-child(6){
    animation-delay: 3.5s;
    width: 65px;
}
.fish-right img:nth-child(7){
    animation-delay: 2.7s;
    width: 75px;
}
.fish-right img:nth-child(8){
    animation-delay: 4s;
    width: 80px;
}
.fish-right img:nth-child(9){
    animation-delay: 6s;
    width: 50px; 
}
.fish-right img:nth-child(10){
    animation-delay: 7s;   
    width: 70px;
}
.fish-right img:nth-child(11){
    animation-delay: 5s;
    width: 80px;
}
.fish-right img:nth-child(12){
    animation-delay: 8s;
    width: 53px;
}
.fish-right img:nth-child(13){
    animation-delay: 6.5s;
    width: 75px;
}
.fish-right img:nth-child(14){
    animation-delay: 7.5s;
    width: 65px;
}
.fish-right img:nth-child(15){
    animation-delay: 5.7s;
    width: 75px;
}
.fish-right img:nth-child(16){
    animation-delay: 8.5s;
    width: 80px;
}

@keyframes fiskLeft{
    0%{
        transform: translateX(0);
        opacity: 0;
    }
    25%{
        
        transform: translateY(-5vh);
        opacity: 1;
    }
    50%{
        
        opacity: 1;
    }
    75%{
        
        opacity: 1;
    }
    100%{
        transform: translateX(100vw);
        opacity: 0;
    }
}

.fish-left img:nth-child(1){
    animation-delay: 2s;
    width: 50px; 
}
.fish-left img:nth-child(2){
    animation-delay: 1s;   
    width: 70px;
}
.fish-left img:nth-child(3){
    animation-delay: 2.5s;
    width: 80px;
}
.fish-left img:nth-child(4){
    animation-delay: 1.5s;
    width: 53px;
}